#header {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
  }

.wrapper {
    width: 100%;
}

.wrapper h1 {
    text-align: center;  /* Centers the title */
    font-size: 2em; /* Optional: Adjust the font size of the title */
    display: block;  /* Ensure it behaves as a block-level element */
  }

.wrapper h2 {
    text-align: center;  /* Centers the title */
    display: block;  /* Ensure it behaves as a block-level element */
    font-size: 1.5em; /* Optional: Adjust the font size of the title */
    color: grey;
  }

  .wrapper h3 {
    text-align: center;  /* Centers the title */
    display: block;  /* Ensure it behaves as a block-level element */
    font-size: 1em; /* Optional: Adjust the font size of the title */
    color: grey;
  }

.project-block {
    padding-bottom: 40px;
}

.wrapper .project-block h2 {
    text-align: center;
    font-size: 1.5em; /* Optional: Adjust the font size of the title */
    color: white;
    margin-bottom: 5px;

}

.wrapper .project-block h3 {
    text-align: center;
    font-size: 1em; /* Optional: Adjust the font size of the title */
    color: grey;
    margin-bottom: 5px;

}